/***
  * CSS Resets
  ***/
ol,
ul {
  list-style: none;
  padding: 0;
}
/***
  * Material Design resets
  **/
.mdl-grid {
  padding: 0;
}
.mdl-button--colored {
  margin: 0 10px 0 10px;
}
.mdl-button--fab.mdl-button--colored {
  background: #ff5f00;
}
.mdl-button--fab.mdl-button--colored {
  background: #ff5f00;
}
.mdl-button--fab.mdl-button--colored:active {
  background: #ff5f00;
}
.mdl-button--fab.mdl-button--colored:hover {
  background: #ff5f00;
}
.mdl-button--fab.mdl-button--mini-fab {
  height: 30px;
  min-width: 30px;
  width: 30px;
}
/***
 * Components
 ***/

/* Header */
.mdl-layout__header {
  background-color: #ff5f00;
}
.todo-text {
  font-size: 16px;
}
/* StopWatch */
.stopwatch h5 {
  display: inline;
}
/* TodoItem */
.todo-text {
  word-break: break-all;
}
